process {
    withName:promaude {
        cpus=1
        container = 'mpgagebioinformatics/maude:7aa20cc'
        containerOptions = "-v ${params.output_maude}:${params.output_maude} -v  ${params.output_mageck_count}:${params.output_mageck_count} -v ${params.facs}:${params.facs} -v ${params.ctrl_guides}:${params.ctrl_guides}"
    }
}

