process {
    withName:promaude {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        memory='20GB'
        time='1h'
        container = "${params.image_folder}maude-7aa20cc.sif"
        containerOptions = "${params.extra_mounts} -B ${params.output_maude}:${params.output_maude} -B ${params.output_mageck_count}:${params.output_mageck_count} -B ${params.facs}:${params.facs} -B ${params.ctrl_guides}:${params.ctrl_guides}"
    }
}

